[2015-04-01 14:25] ivdma opened #2 "Bower package"
Would love to be able to use this package via Bower.

[2015-04-01 14:27] jasonslyvia commented on #2
I'm considering a refactor which involves removing jQuery and add more tests, I believe a new version will be published in Sunday. Of course bower package will be added too, please be patient.

[2015-04-01 14:53] ivdma commented on #2
Awesome!

[2015-04-02 12:05] ivdma opened #3 "onMouseUp issue when clicked on draggable"
The following line prevents handling onMouseUp when draggable element is clicked: https://github.com/jasonslyvia/react-anything-sortable/blob/master/Sortable.jsx#L143

For example we have a button on a draggable element. When button is pressed, pop-up appears. With that line, handleMouseUp returns on click (because mouse is not moving). So dragging is never cancelled.

I am not sure whether it's a

[2015-04-03 01:43] jasonslyvia commented on #3
I believe that is a design on purpose to prevent some browser fire redundant mouse events, but I will inversigate it with next release.

[2015-04-05 16:00] jasonslyvia commented on #2
bower package released in `0.2.0`

[2015-04-05 16:00] #2 closed

[2015-04-05 16:06] jasonslyvia commented on #3
Since I've refactored the code the aforementioned line should be [https://github.com/jasonslyvia/react-anything-sortable/blob/master/src/index.js#L152](https://github.com/jasonslyvia/react-anything-sortable/blob/master/src/index.js#L152).

Back to your scenario, if there's a button on a draggable element, how can you click it during dragging the element?

So I believe this is the correct behaviour

[2015-04-07 09:56] ivdma commented on #3
My draggable elements are looking as follows:

    [ Sortable A | x ]  [ Sortable B | x ]  [ Sortable C | x ]  [ Sortable D | x ]

User can push the `x` button (it's an actual <button>x</button>) when item is **not** dragging. This will trigger a bootstrap modal where user can set the reason why this item is being deleted.

Problem is: when I push the `x` button, it triggers `onMouseDown / handleM

[2015-04-07 10:09] ivdma opened #4 "outerWidth and outerHeight include margins"
Maybe it's more a question than a bug

When draggable element is cloned, outerWidth and outerHeight of the new element include the margins of the original element. I have margins between my items. So when I drag one element it becomes big and ugly.

Why did you choose to use outerWidth with margins? Is it by design or to fix quirks of bad browsers?

I experience it in Chrome, Safari, Firefox and I

[2015-04-07 11:26] jasonslyvia commented on #3
I get your point, it turns out I add this `return` to prevent unnecessary `setState`. I'll fix in next release.

[2015-04-07 11:27] ivdma commented on #3
Thanks!

[2015-04-07 11:28] jasonslyvia commented on #4
This behaviour has been corrected in version `0.2.0`, previously I use `width/height with margin` to calculate the coordinates that determine when should two elements swap position.

[2015-04-07 19:03] vizath commented on #2
There is a typo in the bower installation process in the readme.
`bower install react-anythOng-sortable`

[2015-04-08 01:37] jasonslyvia commented on #2
@vizath sweet, will fix in soon.

[2015-04-08 05:58] jasonslyvia commented on #3
Fixed in 529ee0d0af3b6d1ad139777db7a3a29482dc8a82

[2015-04-08 05:58] #3 closed

[2015-04-08 06:00] #4 closed

[2015-05-29 02:24] vizath opened #6 "Allow the number of elements to change overtime"
Is it possible to update the items that can be sortable at runtime ?
For example, a button that add an element to be ordered.

It doesn't seem possible, since `_dimensionArr` and `_orderArr` are set only in `getInitialState()` and every operation seem to be based on their indexes.

Thanks.

[2015-05-31 08:25] yangit commented on #6
Hi,
You can use `key` property of <Sortable> to force react to reinitialise the component.
If you have component with `items` property you can do this:

[code]
Every time there is new item in this.state.items you'll get key property changed. And react will call `getInitialState()`  and render `<Selectable>` again.

[2015-06-01 02:59] jasonslyvia commented on #6
Basically @yangit  is right, since `SortableItem`s were passed as `children` to `Sortable`, there is no way `Sortable` can maintain the mutation among the children.

[2015-06-01 22:36] Satappa opened #7 "Uncaught TypeError: type.toUpperCase is not a function"
Am trying to use react-anything-sortable in my project and having some difficulty ,
I followed all the steps listed on https://www.npmjs.com/package/react-anything-sortable but getting following error

"Uncaught TypeError: type.toUpperCase is not a function" in following method of react/addons at line  ```javascript tagName: type.toUpperCase() ```. Works great in demo which uses import instead of

[2015-06-02 01:59] jasonslyvia commented on #7
Sorry I don't have time to investigate your issue right now, but per my experience, `"Uncaught TypeError: type.toUpperCase is not a function"` always involves with mistyping of component name or some what.

[2015-06-02 06:25] Satappa commented on #7
Thanks for looking into it. I found the solution ,

Change

```javascript var Sortable = require('../lib/index.js'); ```

to

```javascript var Sortable = require('../lib/index.js').default; ```

[2015-06-02 07:16] jasonslyvia commented on #7
Maybe you should require like this:

[code]

[2015-06-02 19:48] Satappa commented on #7
only this works
[code]

[2015-06-02 19:48] #7 closed

[2015-06-11 07:52] juliankrispel opened #8 "Errors when using in browserify"
I'm getting the following compile error when I try to use this with browserify:
`Cannot find module 'babelify' from '/Users/juliiankrispel/projects/Rainforest/node_modules/react-anything-sortable`

[2015-06-12 01:55] jasonslyvia commented on #8
Hi, can you elaborate how you use browserify with this module?

[2015-06-22 21:06] dreamedits commented on #8
add babelify dependency

[2015-06-24 08:10] juliankrispel commented on #8
Adding babelify fixed the compile errrors

On Mon, Jun 22, 2015 at 11:06 PM, dreamedits <notifications@github.com>
wrote:

[2015-06-26 06:59] jamayka commented on #8
There is `"main": "lib/index.js"` in package.json. And then in browserify section babelify is specified as transform filter for this file. Why? lib/index.js is pure JS, isn't it?

[2015-06-26 08:42] jasonslyvia commented on #8
Yeah, I guess I don't really figure out the way `package.json` works, I'll look into it soon. Thanks guys.

[2015-07-11 18:01] jasonslyvia commented on #8
Should be fixed in 98387254800937a6b167cc4bb7779161e832bafc

[2015-07-11 18:01] #8 closed

[2015-07-11 18:02] #6 closed

[2015-08-12 11:32] aanchalgera opened #9 "Text in dragging state"
I am trying to drag textareas with text in them. When I drag them, the text areas are dragged, but the text is not.
How can I show the text in the textarea in dragging state?

[2015-08-12 12:13] jasonslyvia commented on #9
Hi, can you provide a minimal working snippet so I can dive into it ?

[2015-08-13 12:48] aanchalgera commented on #9
In the demo code, If I replace {item} with <textarea/> or <div>, I get this error
Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node
[code]

[2015-08-13 15:45] jasonslyvia commented on #9
I'm sorry but I fail to see how you use `react-anything-sortable` component.

[2015-08-14 10:44] aanchalgera commented on #9
I am sorry, I think I mixed 2 approaches. I am closing the issue. Thanks!

[2015-08-14 10:44] #9 closed

[2015-10-15 20:33] Nokrosis opened #11 "I'm getting Uncaught TypeError: type.toUpperCase is not a function error"
I'm getting Uncaught TypeError: type.toUpperCase is not a function error when trying to implement react-anything-sortable.

[code]

[code]

[2015-10-16 08:50] jasonslyvia commented on #11
Hi Nokrosis, errors like that often involves with misspelled component name in require or in `render`. I will dive further if you can provide your building environment info, such as building tools and platforms.

[2015-10-16 09:01] jasonslyvia commented on #11
Seems like a library error instead of usage error, sorry for the inconvenience, I'll fix this soon.

[2015-10-16 14:05] Nokrosis commented on #11
[code]
Bundling with Browserify and Babelify

package.json dependencies
[code]

[2015-10-16 20:31] unkw commented on #11
i have the same bag :(

[2015-10-17 22:50] jasonslyvia commented on #11
Sorry guys, I totally messed up with browserify and now switched to webpack, everything should be okay now, please try 0.3.2.

54a113c21046335e6c443dbef41a7836724bcfcb

[2015-10-17 23:25] jasonslyvia opened #12 "Work with React v0.14"
@adampash made a brilliant pr for React v0.14 support, but since 54a113c21046335e6c443dbef41a7836724bcfcb introduced a bit of modification, maybe a corresponding upgrade is needed too.

[2015-10-22 03:20] jasonslyvia commented on #11
I'm closing this issue if everything is back in peace.

[2015-10-22 03:20] #11 closed

[2015-11-01 17:02] milushov commented on #3
btw, canonical url you can get by pressing `y`

[2015-11-06 09:06] jasonslyvia commented on #12
9c3077a741de20e549fe116751f2738d15307032

finished

[2015-11-06 09:06] #12 closed

[2015-11-12 17:05] shubhamd opened #13 "Dependencies problem"
I am getting this error while installing `react-anything-sortable`
`npm ERR! peerinvalid The package react@0.14.2 does not satisfy its siblings' peerDependencies requirements!`
I have react 0.14.0 installed in my project directory.

[2015-11-12 18:06] #13 closed

[2015-11-16 18:18] adsteel opened #14 "Request - interactive demo"
I've been trying to figure out which library I might use for this functionality, but most of them have issues on touch screens. An interactive demo will help folks choose the right library.

[2015-11-17 00:55] jasonslyvia commented on #14
Fair enough, demo will be online soon.

[2015-11-17 01:21] jasonslyvia commented on #14
[http://jasonslyvia.github.io/react-anything-sortable/demo/index.html](http://jasonslyvia.github.io/react-anything-sortable/demo/index.html)

There you go!

[2015-11-17 01:46] jasonslyvia commented on #14
BTW, I've tested it and there is no touch screen support at this point :(

[2015-11-17 04:34] adsteel commented on #14
Thanks for the speedy response!

[2015-11-17 07:16] jasonslyvia commented on #14
I've added touch event support since v1.1.0 if you're still interested, let me know what you think.

[2015-11-17 15:58] adsteel commented on #14
@jasonslyvia Impressive your speed is. I checked out the demo, it looks good, but I wonder how it would handle scrolling on a longer sortable list (my particular need right now). May need to add a customizable delay-to-drag, and confirm in a more complex demo.

[2015-11-18 01:48] jasonslyvia commented on #14
That's a toughie I think, I'll dig into it later. I'm sorry this repo doesn't suit your needs.

[2015-11-27 19:33] larvata opened #15 "Ability to sorting with dynamic SortableItem"
Sometimes, we not only sort the items but also wants add/remove items dynamically.
I think this feature is useful for some scenario, e.g. a todolist app.

I would be grateful to you if you could consider this request.

---

I have notice this issue seems duplicated with #6
The given workaround that set the `key` property of `Sortable`, but it is inconvenience in some case.

If I sort the `list` [a

[2015-11-29 13:57] jasonslyvia commented on #15
Hi @larvata, although my guts tell me there might be a way that giving every child a unique key and identify the addition or removal in side `Sortable` component which will solve your problem, I still believe it is more of a trade off for sorting `this.props.children` instead of some Array format props.

Anyway, I'll let you know if there is any update.

[2015-11-30 14:01] hfcorreia opened #16 "Error bundling with browserify"
I'm trying to include `react-anything-sortable` with an existing component that uses `browserify`. I'm getting the following error when trying to render the component:

[code]

I then tried to create a clean project, however the problem still persisted, and after doing some digging I found that this is triggered from this code in the generated `bundle.js`:

[code]

I suspect that maybe it has some

[2015-12-01 01:05] jasonslyvia commented on #16
Hi @hfcorreia , can you post your node version & npm version?

[2015-12-01 01:09] jasonslyvia commented on #16
It seems like I accidentally release a version built with node 5 and npm 3, that might be the problem.

Can you please try version 1.1.2 to see it the problem is solved?

[2015-12-01 01:41] jakobwilkenson opened #17 "onSort passed in the sortData of the item that was moved"
Sorry, saw you were working on the library right now so figured I'd ask if you have any clue what could be causing this. I'm using React 0.14.1. The error happens inside require('react-anything-sortable').

window.ReactDOM = require('react-dom');
var SortableMixin = require('react-anything-sortable').SortableItemMixin;

Thanks

[2015-12-01 02:14] jasonslyvia commented on #17
Hi @jakobwilkenson , which version of `react-anything-sortable` are you using?

[2015-12-01 02:35] jakobwilkenson commented on #17
Thanks for responding. I'm using 1.1.1.

[2015-12-01 03:07] jasonslyvia commented on #17
Do you mind give `1.1.2` a try because I believe I make some build mistake in `1.1.1`.

[2015-12-01 09:42] hfcorreia commented on #16
In 1.1.2, the described error does not occur. Yet, I'm now getting:

[code]

My node version is v5.0.0 and npm is 3.3.9.

[2015-12-01 11:04] jasonslyvia commented on #16
That's weird, I'll dig it.

[2015-12-01 17:53] hfcorreia opened #18 "Flicking when dragging final Items"
In the demo, there is a small glitch/flicking of the first item when you drag the last item.

Maybe the first items are being unnecessarily rendered?

[2015-12-01 21:45] jakobwilkenson commented on #17
Thanks Jason! 1.1.2 works for me.

[2015-12-01 21:54] jakobwilkenson commented on #17
A quick recommendation now that I have it working. The integration would be significantly easier if onSort passed in the sortData of the item that was moved as well as the array or ordered sort datas. Since I don't want to submit the whole list to the server every time it means that I now have to diff the list form before/after to figure out what changed.

startedDragging/stoppedDragging  callback

[2015-12-02 11:34] jasonslyvia commented on #16
Hi, I kind of figure out that your error might be caused by `browserify-shim`, removing `browserify-shim` config parts in `package.json` fix the problem.

[2015-12-02 11:36] jasonslyvia commented on #17
So are you suggesting return a object for `onSort`? Or maybe adding another callback props to do this job.

[2015-12-02 11:38] jasonslyvia commented on #18
I can't reproduce your problem, which browser and platform are you using?

[2015-12-02 12:09] jasonslyvia commented on #15
I added a dynamic demo, please check out if it suits your needs.

Demo: [http://jasonslyvia.github.io/react-anything-sortable/demo/index.html#react3](http://jasonslyvia.github.io/react-anything-sortable/demo/index.html#react3)

Code: [https://github.com/jasonslyvia/react-anything-sortable/blob/4e45d003173d80f5b2781720d67aec73669e59e0/demo/index.js#L57](https://github.com/jasonslyvia/react-anything

[2015-12-02 13:41] jakobwilkenson commented on #17
My suggestion would be to return an object in onSort.

On Wed, Dec 2, 2015 at 3:36 AM Sen Yang <notifications@github.com> wrote:

[2015-12-02 13:54] hfcorreia commented on #18
I'm using Mac OS X and it happens both in Safari and Chrome.

[2015-12-03 07:11] #16 closed

[2015-12-03 07:12] #15 closed

[2015-12-03 07:12] #14 closed

[2015-12-03 11:50] hfcorreia opened #19 "Limit Draggable Area"
Is it possible to limit the area that an user can drag an item? It would be nice to define boundaries in which you could drag an item.

Is this in your plans? Is it difficult to add support for this?

[2015-12-03 12:05] jasonslyvia commented on #19
I guess I can add an option which only allow dragging inside `Sortable` container, does it sound OK to you?

[2015-12-03 12:09] hfcorreia commented on #19
Yes, that seems the desired behaviour.

[2015-12-03 12:24] jasonslyvia commented on #19
This will be released in next version :)

[2015-12-04 17:32] hfcorreia commented on #19
Do you have any idea of when you'll have the next release?

[2015-12-06 16:20] jasonslyvia commented on #19
My procrastination told me maybe in a week.

[2015-12-08 12:09] jasonslyvia commented on #19
Hi @hfcorreia , can you please try 1.2.0 for this feature.

http://jasonslyvia.github.io/react-anything-sortable/demo/index.html#react4

[2015-12-09 20:00] hfcorreia commented on #19
Seems okay! Many Thanks :+1:

[2015-12-10 03:19] jasonslyvia commented on #19
With pleasure :)

[2015-12-10 03:19] #19 closed

[2015-12-10 16:54] styks1987 opened #20 "React can't find the root component node for data-reactid value `.5`."
Only after loading your component I get React can't find the root component node for data-reactid value `.5`.

Loading via requirejs data-main attribute.

<img width="771" alt="screen shot 2015-12-10 at 11 53 50 am" src="https://cloud.githubusercontent.com/assets/642930/11722017/b59df998-9f34-11e5-9847-e5fb406fdd2c.png">
<img width="514" alt="screen shot 2015-12-10 at 11 53 04 am" src="https://clo

[2015-12-11 01:36] jasonslyvia commented on #20
That's weird, do you mind adding some working snippet or demo repo which I can reproduce this issue?

[2015-12-25 06:32] flappymonkey opened #21 "when dynamically add new SortableItem, the page did not show the new item"

[2015-12-25 06:51] jasonslyvia commented on #21
Do you use a new `key` on `Sortable` ? Please check the dynamic demo for more details.

[2015-12-25 06:51] jasonslyvia commented on #21
http://jasonslyvia.github.io/react-anything-sortable/demo/index.html

[2015-12-25 07:10] flappymonkey commented on #21
thanks, it's ok when add new key on Sortable.

[2015-12-25 07:10] #21 closed

[2015-12-30 13:26] ShinyChang opened #22 "Does SortableItem support high order component?"
I read the doc, looks only can use ES5 mixins.

[code]

Does it support ES6 class? like below:

[code]

[2015-12-30 14:30] jasonslyvia commented on #22
It's possible.

HOC version of `SortableItemMixin` will come soon.

[2016-01-04 02:01] jasonslyvia commented on #20
I'm closing this issue until more details are provided.

[2016-01-04 02:01] #20 closed

[2016-01-04 03:32] jasonslyvia commented on #22
Feature add in version 1.3.0

2294ba92391f4f5e4d5a75d2ee712781e4cc724b

[2016-01-04 03:32] #22 closed

[2016-01-04 17:44] risonsimon opened #23 "Not working in touch enabled deviced"
This is not working in chrome. No elements are being dragged. I'm using Chrome v46.
I also tested it on firefox. It is working there.

[2016-01-05 01:18] jasonslyvia commented on #23
Which version of `react-anything-sortable` are you using? Is there any error in console?

[2016-01-05 16:29] risonsimon commented on #23
I used the [demo](http://jasonslyvia.github.io/react-anything-sortable/demo/index.html).
I also cloned the repository and checked on my local machine too.

There are no errors in console.

[2016-01-06 05:34] jasonslyvia commented on #23
That's weird.

I've tested it on Chrome 47 both Mac & Windows 7, even Chrome 31 in Windows 7, it renders properly.

Can you rule out any browser specific problem like extensions or something?

[2016-01-06 10:37] risonsimon commented on #23
I tried in Chrome incognito mode with all plugins disabled. Still not working.

Btw, I'm on Ubuntu 14.04.

[2016-01-06 15:27] aduggleby commented on #23
Can confirm the current version does not work here on Windows 10, 64-bit, Chrome Version 47.0.2526.106 m (64-bit), started with no extensions and incognito.

Work on the same machine with FF and Edge.

[2016-01-06 17:04] smadapathi opened #24 "Cannot read property 'firstChild' of undefined"
We are facing this issue when we have added this plugin. When we remove this plugin, it is working fine. On search, we can notice that it happens because of multiple reactjs versions.
http://stackoverflow.com/questions/27153166/typeerror-when-using-react-cannot-read-property-firstchild-of-undefined
In bower.json, we can see this, is it the source of the issue?
[code]
Also, we are using react versi

[2016-01-07 01:54] jasonslyvia commented on #24
How do you build your project?

[2016-01-07 03:20] smadapathi commented on #24
Using gulp

[2016-01-07 05:31] jasonslyvia commented on #24
Can you post your build script, I still can't figure out how you use this library.

`React` is listed as `peerDependencies` in `package.json`, which means React is not bundled with `react-anything-sortable` by default.

[2016-01-07 05:51] smadapathi commented on #24
Ok, I have fixed this issue by putting react-addons in externals of webpack config.
Before the fix it was like this
[code]
After the fix, it is like this
[code]

[2016-01-07 06:18] jasonslyvia commented on #24
Cool.

[2016-01-07 06:18] #24 closed

[2016-01-07 06:50] smadapathi commented on #24
Thanks for your time and thanks for this plugin :+1:

[2016-01-14 12:03] wp2123 opened #25 "ie8下，会报出“类型不匹配”的错误"
如题，在ie8下引用会报出“类型不匹配”的错误。

我跟进了一下，发现off方法传入的callback有时为空，有可能是这个原因引起的。
http://stackoverflow.com/questions/31971004/ie8-compatibility-mode-type-mismatch-detachevent

[2016-01-15 02:22] jasonslyvia commented on #25
谢谢！是否考虑提个 PR？

[2016-01-16 02:21] wp2123 commented on #25
待我研究一下哈 :)

[2016-01-18 12:19] aduggleby commented on #23
I have done some more debugging it seems to the problem seems to appear only on touch enabled devices.

I was surprised that it was working in the exact same browser (down to the minor version) on the same OS but my main PC rather than my laptop where I first tested this.

After deactivating touch event in chrome (https://productforums.google.com/forum/#!topic/chrome/P1w9dhH_874) the library works

[2016-01-18 12:22] risonsimon commented on #23
That seems to make sense. I was using a touch enabled laptop too.

[2016-01-19 02:01] jasonslyvia commented on #23
Thanks guys, I think the problem might be the way I determine whether should use `onmousedown` or `ontouchstart`. I will dig it.

[2016-01-22 19:13] evanc commented on #18
I actually see it any time I try to drag anything but the first item *left*:

![draggable](https://cloud.githubusercontent.com/assets/58823/12520391/16c909d4-c0f9-11e5-90f7-7885ed420aa0.gif)

Chrome 47.0.2526.111 on OS X 10.10.

[2016-01-22 19:22] evanc commented on #18
hm going frame-by-frame it looks like the flicker is the "placeholder" being added to the markup in the wrong place:
![draggable-flicker](https://cloud.githubusercontent.com/assets/58823/12520625/79ffab7e-c0fa-11e5-99a9-bbce1625d65a.gif)

[2016-01-25 18:10] dijs opened #26 "Doesn't work with mapped SortableItems"
This works:

[code]

This doesnt:

[code]

And by doesn't work, I mean nothing is rendered within sortable.

If I render the `{items.map(renderItem)}` outside of `<Sortable>`, it works...

Very odd.

[2016-01-26 01:47] jasonslyvia commented on #26
I've tweaked the demo to return mapped items and it just works, please check it out.

https://github.com/jasonslyvia/react-anything-sortable/blob/0867f1460dd560570d61511432564a1ea100e6bc/demo/index.js#L92

[2016-01-26 01:50] jasonslyvia commented on #18
That's very helpful @evanc , I can reproduce it now.

Thanks guys, a fix will be made soon.

[2016-01-26 03:28] #18 closed

[2016-01-26 03:32] jasonslyvia commented on #18
Please try version 1.3.2.

I've also added some tests for this situation.

https://github.com/jasonslyvia/react-anything-sortable/blob/eb8bd5e03f64bbd827b10647471bc84aa3fa2d37/test/specs/sortable-test.js#L158

[2016-01-26 06:05] jasonslyvia commented on #23
It seems like when handling touch event, a wrong target is provided, so `react-anything-sortable` fails to calculate the new index of dragging item.

Please try the new demo to see if it works now.

http://jasonslyvia.github.io/react-anything-sortable/demo/index.html

[2016-01-26 07:06] aduggleby commented on #23
No sadly doesn't work with clicks yet. Touch works as expected. I have cleared my cache and used icognito again.

[2016-01-26 17:33] dijs commented on #26
Okay the issue lies within using redux. Still a mystery. But I made a project which shows the issue.

[example.zip](https://github.com/jasonslyvia/react-anything-sortable/files/105374/example.zip)

Install and run with:

[code]

Just try clicking the "+1" button a few times which calls a redux action which increments the counter.

The counter is obviously working, but for some reason, Sortable is

[2016-01-27 13:23] jasonslyvia commented on #26
If you're adding or removing children of `Sortable` dynamically, you should add a different `key` to `<Sortable>` every time children change.

Check the notice section of docs for more information.

https://github.com/jasonslyvia/react-anything-sortable#notice

[2016-01-27 13:24] jasonslyvia commented on #26
Also you can refer to [this demo](https://github.com/jasonslyvia/react-anything-sortable/blob/c51dffe78943987225f4b2675200c83cd62ab7f0/demo/index.js#L58) for handling dynamic children modification.

[2016-03-02 13:19] dev-mg commented on #23
I just debugged this issue. The expression ('ontouchstart' in window) always evaluates to false in desktop chrome, even with touch capabilities.

When I removed the if-else and defined all events anyway, it perfectly works for touch and non-touch in Chrome 48, for Chrome and Firefox on Android / Nexus 5, and still works for non-touch Firefox 38 ESR and IE11. There is some discussion that backs thi

[2016-03-02 16:18] jasonslyvia commented on #23
@dev-mg  really appreciate your effort.

Frankly I'm not so familiar with touch-enabled devices/environment, so my guts tell me if `'ontouchstart' in window`, let's use `onTouchXXX` API, otherwise let's stick to `onMouseXXX`.

So if you're sure about listening both `onTouchXXX` and `onMouseXXX` event solves this issue, I'd like to merge your PR.

[2016-03-08 00:57] #23 closed

[2016-03-08 01:01] jasonslyvia commented on #23
Hi, can you guys confirm whether it solves this problem or not by visiting [the demo](http://jasonslyvia.github.io/react-anything-sortable/demo/index.html) again? Really appreciate your effort!

[2016-03-08 01:02] jasonslyvia commented on #23
If so, I will publish a new version to npm.

[2016-03-08 07:16] aduggleby commented on #23
Hi, yes I can confirm it works (both touch and mouse)! Glad mg got it solved :)

[2016-03-08 09:03] jasonslyvia commented on #23
Great, a new version will be released soon.

Sent from my iPhone

[2016-03-08 11:25] risonsimon commented on #23
It works! Awesome.

[2016-03-08 11:42] jasonslyvia commented on #23
`v1.3.6` released, thanks everyone.

[2016-03-17 05:06] pingyuanChen opened #28 "Can not sort item with state"
eg:
return this.renderWithSortable(
      <div>
        <span>{this.state.sheetName}</span>
      </div>
    );

Like this, sort is not working

[2016-03-17 06:09] jasonslyvia commented on #28
try wrap `this.state.sheetName` into `<span>` or other tags like this

[code]

[2016-03-17 06:14] pingyuanChen commented on #28
I do wrap this.state.sheetName with tag:
`return this.renderWithSortable(
      <div>
        <span>{this.state.sheetName}</span>
      </div>
    `);

[2016-03-17 06:18] jasonslyvia commented on #28
I need more context, is there any error in console? is there anything rendered in DOM? More code snippets would be helpful.

[2016-03-17 06:41] pingyuanChen commented on #28
I try some simple example, it also doesn't work, I think something about this.state object:
[code]

[2016-03-17 06:59] jasonslyvia commented on #28
By saying `doesn't work`, do you mean nothing is rendered, or the rendered items can not be sorted, can you elaborate?

[2016-03-17 07:18] pingyuanChen commented on #28
Sorry, it can be rendered, but can not be sorted.

[2016-03-17 07:28] jasonslyvia commented on #28
Have you added necessary styles? Check out [this](https://github.com/jasonslyvia/react-anything-sortable/blob/master/demo/style.css) for reference.

[2016-04-06 01:21] szyablitsky opened #29 "Drag handle"
Is it possible to add an ability to mark a drag handle inside of sortable item? This will allow to sort list only by dragging item with the handle, but not the whole item.

[2016-04-06 02:29] jasonslyvia commented on #29
I'll consider adding this feature, meanwhile PRs are mostly welcome :)

[2016-04-06 17:57] onzag opened #30 "Disabled Property"
Why don't you have a property that is able to disable the sortable element? sometimes you have so many elements on the screen and then scrolling on a mobile device becomes impossible, it'll be good to just be able to disable the sorting as needed.

[2016-04-08 05:22] zthomas opened #31 "Need to disable default scrolling for touch based mobile devices"
On the demo you can see that if you drag and sort an item vertically it triggers the native scrolling behaviour making it completely unusable.

I have a PR for a simple fix.
https://github.com/jasonslyvia/react-anything-sortable/pull/32

[2016-04-08 06:10] jasonslyvia commented on #28
Closed for no further information provided.

[2016-04-08 06:10] #28 closed

[2016-04-08 06:11] jasonslyvia commented on #25
issue 暂时关闭，如果有 pr 的话再重新开启。

[2016-04-08 06:11] #25 closed

[2016-04-08 11:07] jasonslyvia commented on #31
merged and confirmed working, thanks @zthomas

[2016-04-08 11:07] #31 closed

[2016-04-08 15:59] zthomas commented on #29
I made a quick PR as a feature proposal.
https://github.com/jasonslyvia/react-anything-sortable/pull/33
It's working great for me right now, I had the same issue especially for mobile.

@jasonslyvia this is just a proposal, feel free to change the syntax, it might be better to have it as a prop on the top level component instead of the sort element but I didn't want to change too much of your code

[2016-04-11 02:09] jasonslyvia commented on #29
Awesome, you're on fire @zthomas .

[2016-04-11 02:10] #29 closed

[2016-04-11 02:11] jasonslyvia commented on #30
Hi @onzag , can you check if @zthomas 's solution works for you too?

https://github.com/jasonslyvia/react-anything-sortable/pull/33

[2016-04-11 07:22] jasonslyvia commented on #30
I've added a [demo](http://jasonslyvia.github.io/react-anything-sortable/demo/#/handle) here.

[2016-04-11 08:09] jasonslyvia commented on #31
Hi @zthomas , just a heads up, I've refactor your PR to move the `sortHandleClass` props to `<Sortable>` and renamed it to `sortHandle`.

https://github.com/jasonslyvia/react-anything-sortable/blob/140b55cdf1256b6e6e7e2594bb50c6366108f201/demo/pages/handle.js

[2016-04-11 15:40] zthomas commented on #31
cool, looks great!

[2016-04-12 12:03] onzag commented on #30
That works Thanks!

[2016-04-12 12:26] #30 closed

[2016-04-12 16:49] antialiasis opened #34 "Error on drag when sortHandle contains an SVG"
My sortHandle is a span containing an SVG icon, but when I try to drag on it, I get this error: `Uncaught TypeError: e.target.className.indexOf is not a function`

The culprit is [this line](https://github.com/jasonslyvia/react-anything-sortable/blob/master/src/SortableItemMixin.js#L9); for an SVG, the className is not a string but an SVGAnimatedString object, which does not have an indexOf proper

[2016-04-12 16:58] jasonslyvia commented on #34
Yeah, thanks for your digging, will be fixed soon.

[2016-04-13 02:44] jasonslyvia commented on #34
By the way, is your `sortHandle` defined on a SVG element?

[2016-04-13 02:51] antialiasis commented on #34
No, it's a span that contains the SVG.

[2016-04-13 03:24] #34 closed

[2016-04-13 03:25] jasonslyvia commented on #34
Hi, `1.4.2` should resolve this issue, and here is [related test suite](https://github.com/jasonslyvia/react-anything-sortable/blob/master/test/specs/sortable-test.js#L485).

[2016-04-13 13:28] antialiasis commented on #34
Excellent, thanks for the swift fix.

[2016-04-15 11:16] dineshi2it opened #35 "warning.js:45 Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the Sortable component."
Just cloned the repo and ran
1. npm install,
2. npm demo:watch

After I drag and drop an item I get this warning.
![sort_set_state_err](https://cloud.githubusercontent.com/assets/5243459/14559883/7d408a9e-0329-11e6-924a-c9afcc0b867f.png)

[2016-04-15 20:37] skitterm commented on #14
Ditto that handling scrolling on the reorderable list would be a big win. It works when the list is full-page-height, but when it is scrollable inside of a div or something it won't let me drop the dragged item where I want.

[2016-04-18 07:41] jasonslyvia commented on #17
I'm sorry for the long delay, thanks to  @jakubruffer this feature is implemented in a way adding more parameters in `onSort` callback.

You can test it out in version `1.4.3`.

[2016-04-18 07:41] #17 closed

[2016-04-18 07:51] jasonslyvia commented on #35
Yeah it's a edge case, previously I used `this.isMounted()` to check whether the instance is mounted, but it's discouraged by React and will be deprecated soon.

So figuring out a new way to do this check now.

[2016-04-18 07:56] jasonslyvia commented on #35
should be fixed in 21f0d27562e2f5d6cb34ffabafd7af2f340c2ddc

[2016-04-18 13:56] dineshi2it commented on #35
Right now I have added 0 setTimeout like this:

[code]

[2016-04-18 14:09] dineshi2it opened #37 "Modern usage of sortable is not working for me"
I have changed the DemoItem.js as follows:

[code]

The above one doesn't work for me. Please correct me if I'm doing something wrong.

[2016-04-19 02:15] jasonslyvia commented on #37
As the [docs](https://github.com/jasonslyvia/react-anything-sortable#how-to-use) states, you have to destructure `this.props` to your item to assign some event handlers passed by Sortable.

[code]

[2016-04-19 02:34] jasonslyvia commented on #35
Can you pull the master and try run `demo:watch` again to see if this problem persists?

[2016-04-19 05:41] dineshi2it commented on #37
Oh I haven't read the docs well. Thanks, this works great!!

[2016-04-19 05:41] #37 closed

[2016-04-19 05:53] dineshi2it commented on #35
Yeah, that works fine without any warning :+1:. Waiting for the release now.

[2016-04-19 05:53] #35 closed

[2016-04-21 14:02] dineshi2it opened #38 "Problem with Contenteditable div"
I'm in a situation where I need to render a contenteditable div.

So, just tried it by adding contenteditable div in demoItem.js. Then, whenever I click inside the div, cursor focuses at starting point of the text, not at the place where I clicked.

Please help me out.

[2016-04-21 14:25] jasonslyvia commented on #38
Can you provide some snippet or working demo?

[2016-04-22 15:16] dineshi2it commented on #38
Please clone this [forked repo](https://github.com/dineshi2it/react-anything-sortable).
Start the app and hit http://0.0.0.0:8722/#/handle

Now, in DemoItem.js, removing `inline: true` , which is in line 26 will work fine.

But I need to pass `inline: true`, as I need to fix the toolbar to the place I need.

[2016-04-23 14:50] jasonslyvia commented on #38
After cloning your repo, I fail to figure out how tinymce.js works.

Can you confirm it works without `react-anything-sortable`? By adding three elements in the same page with indentical settings. If so, there might be some event collision( which I don't think probable because I've commented out event handlers in `SortableItemMixin` but the issue remains).

[2016-04-23 15:09] dineshi2it commented on #38
So, I removed `mixins: [SortableItemMixin],` and  `this.renderWithSortable` from DemoItem.js. It works as expected.

[2016-04-24 20:10] vhpoet opened #39 "Readme: remove sortHandleClass"
There's a mention of `sortHandleClass` in readme and tests, but it doesn't appear in your code. I'm assuming you changed the name to `sortHandle` and forgot to update the readme and tests.

[2016-04-24 20:28] vhpoet opened #40 "Server side render is different from the client side one"
[code]

I'm guessing this has something to do with `bindEvent` or `componentDidUpdate` since `document` is used.

[2016-04-24 20:45] vhpoet commented on #40
Nevermind that was my problem

[2016-04-24 20:45] #40 closed

[2016-04-25 02:13] jasonslyvia commented on #38
Yeah I'm sorry kinda busy these days, need to dive into tinymce to figure out why they don't work together.

[2016-04-25 02:15] #39 closed

[2016-04-25 02:15] jasonslyvia commented on #39
thanks, docs has been updated.

[2016-04-25 10:49] mdoelker opened #42 "Better named HOC export"
As I couldn't use mixins initially (see #41) I've been going down the HOC route. I don't use decorators though, so the naming of the export is a bit weird when you use it without them.

I suggest adding another alias for the exported mixin/hoc component:
[code]

which enables a more natural usage without decorators, something like this:
[code]

[2016-04-29 02:51] jasonslyvia commented on #42
Yeah I guess that works, feel free to send a PR.

[2016-05-04 13:35] AaronHarris opened #44 "How to keep an item at a fixed position in a Sortable list?"
I have a Sortable list where I want between each SortableItem to be a fixed item (it happens to be an arrow glyphicon, but that's besides the point).

[code]

In my attempt, if I try to sort the data, the FixedItems get pushed to the outside (FixedItems do not have the @sortable decorator/mixin), and the handlesort method receives `[undefined, "angular", "backbone","react",undefined]`. However If

[2016-05-04 13:54] jasonslyvia commented on #44
It's currently unsupported but I think it's achievable.

[2016-05-06 14:17] AaronHarris commented on #44
Hmm, I can think of a few different instances where you'd want to specify the "allowed" positions that an element should be able to take (eg. only every even position, or every 5th position, or beginning or end, only next to some other type of element, etc). Which methods would one have to modify to support something like this?

I'm assuming the right methods would be `swapArrayItemPosition` (to c

[2016-05-07 09:17] jasonslyvia commented on #44
If we were to add this new feature, I'd like it to be adoptable by anyone other than only your case.

The solution I'm thinking of is providing an option like `sortTarget`, and only children's className match sortTarget will be sortable, anything else remains untouched.

I'll let you know if it works out, also a PR is warmly welcomed!

[2016-05-07 12:19] jasonslyvia commented on #44
I kind of got it working and here's a brief demo, is it what you expected?

![may-07-2016 20-17-59](https://cloud.githubusercontent.com/assets/1336484/15092068/e1746b8e-1490-11e6-81ec-6f1275b59a2e.gif)

[2016-05-10 11:23] AaronHarris commented on #44
Yes that's exactly what I was looking for! Much appreciated!

[2016-05-10 11:33] jasonslyvia commented on #44
Cool, I'll add according tests and release a new version.

[2016-05-10 15:00] #44 closed

[2016-05-10 15:14] jasonslyvia commented on #44
released `1.4.5`

[2016-05-11 19:32] antialiasis opened #46 "The suggested solution for dynamic children involving changing the key of the Sortable component is less than ideal"
Hello. I've got some sortable items that perform some work on componentDidMount that may change their dimensions. I am also dynamically adding and removing sortable items, as well as changing their order by other means than dragging, so I have been using the recommended solution of giving the Sortable component a key and incrementing it whenever the items change.

However, this means that React wi

[2016-05-12 01:58] jasonslyvia commented on #46
It's been discussed in #15 , and to solve this problem without `key` would be tricky, which I don't have much time to invest for now. Feel free to send a PR if you have an idea about how it can be done.

[2016-05-17 02:32] jasonslyvia commented on #46
released `1.5.0`

[2016-05-17 02:32] #46 closed

[2016-05-31 11:14] ctxhou opened #50 "getComputedStyle is not defined"
Hi, when I use shallow render to test my react component, it show `getComputedStyle is not defined`.

And I find it doesn't define at [/src/utils.js#L55](https://github.com/jasonslyvia/react-anything-sortable/blob/b94aae8912490c04fd6aa0896568a8a06cff0e1c/src/utils.js#L55).

[2016-05-31 11:38] jasonslyvia commented on #50
`getComputedStyle` is one of `window`'s method, you have to use something like jsdom to provide a browser envrionment or just mock it.

[2016-05-31 11:40] ctxhou commented on #50
Got it!

Thanks.

[2016-05-31 11:40] #50 closed

[2016-06-17 12:56] mikevandre opened #51 "drag speed when using css zoom"
We are using css zoom to change the dynamically scale down the size of a group of react controls that includes a sortable and sortable items. When doing so, if we drag a control to sort then it will drag at a slower speed then the mouse.

[2016-06-18 04:20] jasonslyvia commented on #51
interesting, I'm unfamiliar with how zoom works, so a working demo might help.

Sent from my iPhone

[2016-06-19 14:55] sahanDissanayake opened #52 "Demo broken ??"
Nothing is happening
<img width="737" alt="screen shot 2016-06-20 at 2 54 32 am" src="https://cloud.githubusercontent.com/assets/5580680/16178043/6c54a624-3692-11e6-91b6-d9a47604af47.png">

[2016-06-19 18:42] jasonslyvia commented on #52
It works on Chrome 51, which browser are you using? Is there any error in console?

[2016-06-19 19:25] sahanDissanayake commented on #52
No errors in console

"5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36"

[2016-06-19 19:26] sahanDissanayake commented on #52
OH my god. Sorry. I did not click on the link.. I tried to moved the links up and down.. Its been a long night.. damn.. sorry

[2016-06-19 19:26] #52 closed

[2016-06-19 20:05] jasonslyvia commented on #52
No problem dude, take some rest :)

[2016-06-22 17:22] tnrich opened #53 "Vertical demo doesn't appear to use "direction: vertical""
https://github.com/jasonslyvia/react-anything-sortable/blob/master/demo/pages/vertical.js

I am not sure what the desired behavior is here, but it doesn't seem like the demo conforms to the docs:
![image](https://cloud.githubusercontent.com/assets/2730609/16276441/3a3e6cd8-3863-11e6-9167-8d7d1a8cf3aa.png)

It appears maybe this is the code for the "Using decorators" example
![image](https://cloud.

[2016-06-23 01:27] jasonslyvia commented on #53
Hi @tnrich , you have such keen observation! The demo is updated, thanks.

[2016-06-23 01:27] #53 closed

[2016-06-27 02:12] jasonslyvia commented on #42
Closing for no further progress.

[2016-06-27 02:12] #42 closed

[2016-06-27 02:12] jasonslyvia commented on #51
Closing for no further progress.

[2016-06-27 20:10] mikevandre commented on #51
Im sorry. I left for vacation and just got back. If you could re-open this ticket I would really appreciate. Here is some sample code. You will notice that the cursor moves slower than the div being moved. If you change zoom to less than 1 then the cursor will move faster than the div:

[code]

[2016-06-28 00:46] jasonslyvia commented on #51
No problem, I'll look into it.

[2016-06-28 11:26] peletiah opened #54 "No rendering when sort-items are asynchronously fetched"
I'm fetching my sortable items asynchronously via [fetch](https://github.com/github/fetch). Unfortunately they are not rerendered after the state has been updated when inside a Sortable-component.

Items not in a "Sortable"-component are rendered just fine:

Here's an example based on [Demo vertically sorting](http://jasonslyvia.github.io/react-anything-sortable/demo/#/vertical?_k=mxaf5m):

[code]

[2016-06-28 18:34] jasonslyvia commented on #54
have you tried add `dynamic` props?

[2016-06-28 22:32] peletiah commented on #54
Yes, that actually fixes the issue! Thanks!

[2016-06-28 22:32] #54 closed

[2016-06-30 10:53] myleschuahiock opened #55 "direction="vertical" on <Sortable> not working and <Sortable> in overflow:scroll buggy?"
Hi Jason,

The direction="vertical" on my code doesn't seem to work in my code. However containment: true works, the only bug is when the parent container has a overflow: scroll.

Here's a simplified test case of how I'm implementing my code and also an "almost" carbon-copy code of your "vertical" demo.

App.js

[code]

[code]

It's weird that the direction="vertical" works for on your GitHub demo

[2016-07-01 18:39] tnrich opened #56 "Doesn't playing nicely with redux-form"
Hey there,

So I'm trying to use the react-anything-sortable library with redux-form, but I am unfortunately running into issues when trying to do so. It seems that there are two potential issues at play. They can both be seen in the following screenshots where I try to drag and re-order my inserts:
1)
![image](https://cloud.githubusercontent.com/assets/2730609/16530711/47600aee-3f7e-11e6-8a56-dcd

[2016-07-02 04:51] vhpoet opened #57 "Can't use cmd+a inside a sortable component"
I have a textarea inside a component wrapped by `@sortable` and I can't use the `cmd+a` (which is supposed to "Select All" text inside the textarea). Removing the `@sortable` decorator fixes the `cmd+a`. I'm guessing `sortable` is preventing some keyboard events.

[2016-07-04 01:21] jasonslyvia commented on #55
By 'not working' do you mean the items cannot be dragged or cannot be dropped or both, is there any error in console? Which version of this library are you using?

I tried copying your css to the demo app and it works just fine.

[2016-07-04 01:30] jasonslyvia commented on #56
Sorry for the late response.

I've gone through the related issue in `redux-form`, and if it's really caused by `React.cloneElement`, I'm afraid there's nothing I can do here, because the ability to sort any children is built on the cloning premise.

Please let me know if you have further concerns.

[2016-07-04 01:36] jasonslyvia commented on #57
The only two event handlers `sortable` interfere with are `onMouseDown` and `onTouchStart`, maybe a working demo might help debugging.

[2016-07-04 07:07] myleschuahiock commented on #55
I spent the past few hours trying to fix it, however, I finally got it to work.
Not the way you would expect though.

When I copy-pasted the index.js, utils.js and SortableItemMixin.js into the same directory as my component and imported them as:

[code]

My code finally allowed forced dragging and the problem with the overflow was fixed.

However when I import Sortable, {sortable} from my node mo

[2016-07-04 08:07] jasonslyvia commented on #55
Interesting, I'll definitely give a try.

[2016-07-04 08:33] myleschuahiock commented on #55
To give an idea of what I wanted to do with the sorting and scroll down, here's an animated gif of what it looks like.

https://imgur.com/YWhf8pl

Does this behavior also happen to you?

[2016-07-04 08:42] jasonslyvia commented on #55
I believe it's the proper behaviour now because IIRC I didn't deal with scrolling situation particularly 😅 But it should be fixed.

[2016-07-04 08:58] myleschuahiock commented on #55
So there isn't any particular fix to the sortable behavior when I scroll down?

[2016-07-04 09:08] myleschuahiock commented on #55
Okay thanks for the help! I'll keep my eye on this :D

[2016-07-05 15:59] peletiah opened #58 ""Warning: Unknown props `sortData`, `onSortableItemMount`..." on initial render with React 1.5.2"
I've upgraded from Babel 5 to Babel 6 and transpile the [vertical-demo](http://jasonslyvia.github.io/react-anything-sortable/demo/#/vertical?_k=ewrtzi) with the help of "[transform-decorators-legacy](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy)"-plugin (Babel 6 currently [does not support decorators](http://babeljs.io/docs/plugins/transform-decorators/)):
[code]

On the

[2016-07-06 01:16] jasonslyvia commented on #58
I guess this is introduced by React v15.2.0, which no longer allow unknown properties for DOM elements.

https://github.com/facebook/react/blob/master/CHANGELOG.md

[2016-07-06 01:20] jasonslyvia commented on #58
If you're hurry to use this library, try installing React under v15.2 for now.

[2016-07-06 06:58] peletiah commented on #58
I can live with the warnings for now. Thanks for the heads-up!

[2016-07-10 10:34] newStellar commented on #55
i am facing this problem as well. it is not user friendly when i am scrolling an item from top to bottom or vice versa. please fix it up ASAP.

[2016-07-12 19:02] jasonslyvia commented on #55
Sorry guys, kinda busy this week, I'll try to solve this during this weekend.

[2016-07-12 19:03] jasonslyvia commented on #56
Closing for no further update.

[2016-07-12 19:03] #56 closed

[2016-07-12 19:09] newStellar commented on #55
I am using this library in my project. Project will live in next month. So it will be helpful if you fix this problem  as early as possible. Thanks in advance

[2016-07-13 05:56] Darmody commented on #58
@peletiah just don't pass all props to div tag, only pass useful ones. #59
@jasonslyvia what do you think?

[2016-07-13 08:31] jasonslyvia commented on #58
I guess that's what React wishes us to do.

https://gist.github.com/jimfb/d99e0678e9da715ccf6454961ef04d1b

[2016-07-13 08:37] peletiah commented on #58
@Darmody The props are passed by ```SortableItem```, so I can't really influence it, here's the full warning:

[code]

[2016-07-13 08:44] Darmody commented on #58
@peletiah What the #59 PR doing is removing the unknown props you mentioned. Actually just four props are useful.All props appeared in the warning are unnecessary.

[2016-07-13 08:44] peletiah commented on #58
Yep, just realized what you mean :-)

[2016-07-15 23:21] timersys opened #60 "Effects?"
It's possible to add some effects to make it smoother ?

[2016-07-18 00:47] jasonslyvia commented on #60
As far as I'm concerned, it's up to library consumer to implement the animation, it should be jolly easy to do so using `CSSTransitionGroup`.

[2016-07-18 00:47] #60 closed

[2016-07-19 09:07] #58 closed

[2016-07-28 19:07] LalithaReddy commented on #51
Hi, i am also having the same issue. Please let me know if you have any solution for this.

[2016-08-02 09:27] olesse commented on #57
Having this issue as well. @vhpoet, did you find anything?

[2016-08-02 16:06] vhpoet commented on #57
Didn't have time to check it yet @jasonslyvia @olesse

[2016-08-04 08:13] m90 opened #62 "SortableContainer is not exported"
I am trying to use the container based approach described in the README, yet the module does not seem to export the required `<SortableContainer />` component.

I am trying the following:
[code]

but `SortableContainer` is `undefined`.

When I iterate over the keys of the default export I get:

[code]

so it looks like it's not being exported.

The weird thing is that looking at the files installe

[2016-08-04 08:35] jasonslyvia commented on #62
sorry this feature was not released, please try version `1.6.0`.

[2016-08-04 08:44] m90 commented on #62
Ok, exports as expected now, thanks for the insanely fast release!

[2016-08-04 08:44] #62 closed

[2016-08-04 09:22] jasonslyvia commented on #62
No problem 😉

[2016-08-04 15:13] hvergara commented on #57
It's related with **selectstart** event capture, on SortableItemMixin.js

`
 on(node, 'selectstart', (e) => {
    if (e.preventDefault) {
      e.preventDefault();
    } else {
      e.returnValue = false;
    }
  });
`

[2016-08-05 02:34] jasonslyvia commented on #57
@hvergara yes, this is intended for legacy IEs, i guess we can remove it safely now.

[2016-08-05 02:43] jasonslyvia commented on #57
I made a pull request to remove this prevention, but I got another dilemma, hope you guys can help. #63

[2016-08-09 08:10] jasonslyvia commented on #57
can you guys confirm whether it's been settled or not in `1.6.1`?

[2016-08-09 09:41] mylesshie opened #64 "use callbackfunction to set father's state, dragEvent doesn't work"
In father:

  sortCallback( data ) {
    let { sortModal } = this.state
  	sortModal.sortList = data
  	console.log( sortModal )
    // this.setState({
    // 	sortList: data
    // })
  }
<SortItemList key={new Date().getTime()} data={imgList} sortCallback={this.sortCallback} />

In self:

  handleSort( data ) {
    const { sortCallback } = this.props
    if( sortCallback ){
      sortCallback( d

[2016-08-09 09:57] jasonslyvia commented on #64
用中文 ok 的 😉

要不你重新描述一下你的问题，代码贴完整一点？

[2016-08-09 19:44] vhpoet commented on #57
@jasonslyvia will check today and let you know

[2016-08-10 03:20] vhpoet commented on #57
@jasonslyvia works! Thank you.

[2016-08-10 03:20] #57 closed

[2016-08-10 12:51] mylesshie commented on #64
- -，，，，
我在父组件里面有一个callback方法传递给子组件，在sortable的handleSort方法中执行，如果我的父组件的callback方法中有setState在每次排序结束会设置父state的一个状态，则sortable的拖动排序会无效，但是也没有报错，如果去掉setState的代码则拖动正常
大概就是这个意思，

[2016-08-10 14:02] jasonslyvia commented on #64
试试 `<Sortable dynamic>`

[2016-08-28 04:30] kespindler opened #66 "Drag into other Sortable divs"
I'm wondering if you have tried to get react-anything-sortable to work with multiple target Sortable divs.

My specific use case is that I want to be able to drag items to re-order within a list, but also have the ability to drag the items into labels/buckets.

[2016-08-28 09:24] jasonslyvia commented on #66
It's currently unsupported, as for this feature, maybe [react-dnd](https://github.com/gaearon/react-dnd) worth a shot, it's more complex but more flexible.

[2016-08-29 13:22] kespindler commented on #66
Woah. That's a great lib, thanks for the reference.

[2016-08-29 13:22] #66 closed

[2016-08-30 19:23] rdsilver opened #67 "Class 'ui-sortable-item' not being added when using <SortableContainer>"
Trying to set up react-anything-sortable and can't figure out why it isn't working. All I can tell is that 'ui-sortable-item' isn't being added to the sortable item divs. Am I missing some kind of prop?

[code]

[code]

[2016-08-31 02:10] jasonslyvia commented on #67
By separating sortable item in another React component, you need to pass to props to `<SortableContainer>` in `CategoryListing.js`.

Basically `SortableContainer` is just some sort of props filter that only pass certain props to its children (eg. className, onClick ).

[code]

[2016-08-31 08:55] hantc opened #68 "How to run 'modern usage'?"
Can't find out how to run sorting using 'modern usage' from docs
`import React from 'react';
import { SortableContainer } from 'react-anything-sortable';

class SortableItem extends React.Component {
  render() {
    return (
      <SortableContainer>
        <div>
          your item
        </div>
      </SortableContainer>
    );
  }
};`

is there any piece of important information missing? tha

[2016-09-01 19:07] rdsilver commented on #67
I nocited you added
`@sortable`
to the modern usage example, is that also required?

[2016-09-14 10:08] gera2ld opened #69 "`SortableItem.className` is discarded"
`SortableItem.className` is discarded, is that accidental or in purpose?

As a result, code below does not work:

[code]

Ref: https://github.com/jasonslyvia/react-anything-sortable/blob/4d7dbe6fee02a19a5a65980b58248d21d15b0fdf/src/SortableItemMixin.js#L99

[2016-09-16 01:08] shilpan opened #70 "List inside list"
Hi, I tried using this library to sort a list within a list and it seems to not be working. Are there any plans to support that in the future?

[2016-09-16 01:36] jasonslyvia commented on #70
I'm afraid it's complicated to implement, but if you can kindly provide a test repo I will dig into it.

[2016-09-17 22:59] jasonslyvia commented on #64
closing for no further update

[2016-09-17 22:59] #64 closed

[2016-09-18 00:16] jasonslyvia opened #71 "Get `SortableContainer` usage straight"
Currently it seems `SortableContainer` is not working as desired

[2016-09-23 02:50] chinesedfan commented on #71
Yes, the `className` and `style` are not set correctly.

[2016-09-25 12:23] wenduzer opened #72 "RTL support?"
I'll explain.
I've seen that the sortable elements are floated left.
what if in my case the sortable elementes should be floated right?
I've tried to change it in `sortable.css`, but let's say it works like a mirror.
Any solution?

[2016-09-25 13:20] matanasa commented on #68
A sortable container is a wrapper for an Item.
you need to wrap it with Sortable.
which you can get via:
`
import Sortable, { SortableContainer } from 'react-anything-sortable';

<Sortable>
    <SortableContainer>
        <div> Your Item. </div>
    </SortableContainer>
</Sortable>
`

[2016-09-26 19:34] hvergara commented on #38
This is because old version was capturing onSelect event on non-IE browsers.
Fixed in #57

[2016-09-27 07:44] lusyn commented on #71
I have alse found this problem, please fix it...

[2016-10-07 07:11] aduggleby opened #73 "Bug when re-rendering occurs while mouse is pressed"
**Summary:**
We use SortableContainer in dynamic mode. When the mouse is pressed (so onMouseDown has triggered, but onMouseUp has not yet) and a render happens then draggingIndex is set, the render will create a dragging element but will then not delete it once mouse is released again.

**Reproduction:**
This behaviour can be reproduced with the demo:
http://jasonslyvia.github.io/react-anything-so

[2016-10-08 05:26] chinesedfan commented on #72
You can do not import the build-in css file, or overwrite those styles in your own css file.

[2016-10-08 10:05] chinesedfan commented on #67
Right, but `SortableContainer` has something wrong now(v1.6.1). You can only construct it manually.

[2016-10-10 00:53] jasonslyvia commented on #73
Awesome! Really appreciate your effort @aduggleby

[2016-10-10 00:55] jasonslyvia commented on #67
I'm sorry, this whole `SortableContainer` thing is ill-considered, I'll try to get this stagrait ASAP, and thanks for your effort here @chinesedfan

[2016-10-11 21:29] Darmody commented on #71
@jasonslyvia Hey, I check the issues associated with `SortableContainer`.  I think the problem is that when you use React Component as your sortable item, you have to construct it manually.

[2016-10-11 21:33] Darmody commented on #67
@rdsilver I think you should add `@sortable`

[2016-10-11 21:37] Darmody commented on #71
That means `SortableContainer` not work when:

[code]

And `@sortable` is required for `SortItem Component`

[2016-10-11 21:38] Darmody commented on #68
@hantc you should add `@sortable` to `SortableItem` component

[2016-10-12 17:28] Darmody commented on #71
And this is why custom component don't work. https://github.com/jasonslyvia/react-anything-sortable/blob/master/src/index.js#L509-L512

Because If we pass props to a custom component, the component need to handle these props manually, that make no sense.

I think we can just always create a new `<div>` to accept sortable props.

[2016-10-12 17:30] Darmody commented on #71
Or pass a `component` into `SortableContainer` to determine what element should `SortableContainer` be.

[2016-10-13 10:45] chinesedfan commented on #71
@Darmody Can you explain why `SortableContainer` is exported directly as `DemoContainerItem`? I don't think your test usage is the same with the README in #77.

[2016-10-13 16:48] Darmody commented on #71
@chinesedfan I think it is the same. What confuse you?

[2016-10-13 17:12] Darmody commented on #71
@chinesedfan Oh I got your point, you are right.

[2016-10-13 18:45] Darmody commented on #71
Sorry, I confused `SortableContainer` myself too...
Actually it already wrapped by `sortable` mixin.

So we should put `SortableContainer` directly as `Sortable`'s children, not inside the `SortableItem`.

[2016-10-13 19:33] jasonslyvia commented on #71
This whole `SortableContainer` thing is designed for avoiding React's warning since 15.2.0 IIRC.

[2016-10-13 19:34] jasonslyvia commented on #71
#58  for reference

[2016-10-13 23:05] rdsilver commented on #67
Thanks for the help.

[2016-10-13 23:05] #67 closed

[2016-10-16 18:21] vhpoet opened #78 "Previous sortedArray"
It would be useful to also have a `prevSortedArray` on `onSort`.

[2016-10-17 00:30] jasonslyvia commented on #78
You can preserve this state by yourself, checkout the [dynamic](https://github.com/jasonslyvia/react-anything-sortable/blob/master/demo/pages/dynamic.js) demo.

[2016-10-17 04:11] #78 closed

[2016-11-03 09:53] aduggleby commented on #73
hi, just checking in if my PR will be accepted for this

[2016-11-04 02:43] jasonslyvia commented on #73
I'm really sorry, work has been busy these days, will merge ASAP.

[2016-11-14 02:21] JonathanWi commented on #26
@jasonslyvia There is a bug on an edge case (tried with your updated demo also): Mapped items + fixed items breaks the dragging capabilities. I'm not sure why, currently investigating, but could use your help on this one!

Just try to add a fixed item in your demo, and you will see what's happening :)

Cheers

[2016-11-14 02:47] jasonslyvia commented on #26
Sure, I'll look into it.

[2016-11-14 03:08] JonathanWi commented on #26
Thanks!

In the render function, you can try this:

[code]

Let me know what you think

[2016-11-14 03:31] jasonslyvia commented on #26
Have you tried add `dynamic` props to `<Sortable>`?

[2016-11-14 03:32] JonathanWi commented on #26
@jasonslyvia Yes, no luck either

[2016-11-14 03:33] jasonslyvia commented on #26
Also removing `key`?

[2016-11-14 03:36] JonathanWi commented on #26
@jasonslyvia Same thing :)

[2016-11-14 03:40] jasonslyvia commented on #26
Alright then, I will test it myself.

[2016-11-15 13:39] erasmo-marin commented on #55
Hi!

I have this problem too, here an example of the problem:

[http://i.imgur.com/Q2HoO3H.gifv](http://i.imgur.com/Q2HoO3H.gifv)

It would be great if you can fix it or someone can help you with this.

[2016-11-21 00:04] JonathanWi commented on #26
@jasonslyvia Any news on this? Thanks!

[2016-11-22 02:05] jasonslyvia commented on #26
@JonathanWi Sorry been busy these days, this behaviour is confirmed not working as expected, gonna need more time digging why.

[2016-11-22 02:08] jasonslyvia commented on #26
Btw, I think it's a totally different issue from the original one, do you care posting a new issue so we can move discussion there?

[2017-02-01 13:53] bassbump opened #79 "Unknown prop sortHandle on <div> tag"
<img width="1134" alt="screen shot 2017-02-01 at 14 51 50" src="https://cloud.githubusercontent.com/assets/22293775/22509354/0ab70fe8-e88e-11e6-8ae3-2020eac98e5e.png">

It guess that this warning is caused by React not allowing unknown props, but anything I can do to fix this?

[2017-02-10 08:54] Robinfr opened #80 "Recursive lists"
Are recursive lists supported with this library? I.e. a sortable container within a sortable item.

[2017-02-15 14:45] Robinfr commented on #80
I guess I can assume this library is dead..

[2017-02-15 14:45] #80 closed

[2017-03-24 11:52] vantana commented on #79
`import React, { PropTypes } from 'react'
import { SortableItemMixin, SortableContainer } from 'react-anything-sortable';

var SortableItem = React.createClass({
  mixins: [SortableItemMixin],

  render: function(){
    return this.renderWithSortable(
        <SortableContainer {...this.props}>
            <div>your item</div>
       </SortableContainer>
    );
  }
});`

[2017-04-20 13:42] JasonKleban opened #81 ""Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.""
In react 15.5, instead of accessing PropTypes from the main React object, install the prop-types package and import them from there:

[code]

[2017-04-21 17:04] JasonKleban opened #82 ""React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead.""
Prepare for React 16 compatibility.

[2017-04-21 17:29] JustFly1984 commented on #82
I think we can extend this issue with ```mixin``` property.

It is also deprecated, and it is not possible to use mixins in Pure functional components.

[2017-05-02 02:21] #81 closed

[2017-05-09 21:09] bunkscene opened #84 "sorting is broken in ie11 && FF when scrolled down"
Hey @jasonslyvia,

We noticed an issue when a sortable container has containment=true and is way down in a page where the scrolltop is being used.  In IE11 and FF, document.body.scrollTop is not supported.  This causes a downstream affect where the sortable item cannot be dragged.

[code]

[2017-05-10 00:50] jasonslyvia commented on #84
Thanks for reporting, I 'll see into it soon.

[2017-05-10 01:14] #84 closed

[2017-05-10 01:16] jasonslyvia commented on #84
I've published version `1.7.1` in case you need it.

[2017-05-10 14:33] bunkscene commented on #84
Great, thanks for the quick fix!  However, the new code has a bug in it as well.  Index.js:18 has a reference to window.  When server side rendering, this fails.  Can you add a check for that?

[2017-05-23 19:13] bunkscene opened #85 "index.js has a global reference to window, causing server side rendering to crash"
Hi @jasonslyvia,

In 1.7.2, index.js on line 18, there is a reference to "window".  This causes an error when server side rendering a component using react-anything-sortable.  Can you move the window call to a client-only location?

Thanks,
Dave

[2017-05-23 20:31] jasonslyvia commented on #85
You mean this line of code https://github.com/jasonslyvia/react-anything-sortable/blob/e789b55dee039400f38303598621f1f965c03672/src/index.js#L18 ?

[2017-05-23 20:32] bunkscene commented on #85
Ohhhhh... you fixed it already.  HA, sorry, I did not notice.  Awesome, thanks!

[2017-05-23 20:34] #85 closed

[2017-06-20 10:30] JustFly1984 commented on #82
I'm sorry, but what about mixin? mixins also deprecated, and whole thing with createReactClass is temporary I hope? It is like you get rid of symptoms instead of curing the sickness. Can you provide better architecture please?

[2017-06-20 12:21] jasonslyvia commented on #82
@JustFly1984 This project is no longer actively maintained, thus no architecture refactor will be operated (although PRs are always welcomed)

[2017-06-21 23:48] JonathanWi opened #86 "Sort stop working when combining map and fixed items"
Hey there,

As referenced [in this issue](https://github.com/jasonslyvia/react-anything-sortable/issues/26#issuecomment-260233940), displaying sortable items using `map` and adding a fixed items result in the component breaking.

As stated, this can be easily replicated in the demo by replacing the map render with :

[code]

Any help here would be really appreciated!

[2017-07-19 02:47] yuzexing opened #87 "Get Container Position On MouseDown"
There is problem when get contianer position at componentDidiUpdate:

When container scroll out of visual range then update position, we can't call handleMouseMove correctly

Why not let it work onMouseDown.

     `handleMouseDown: function handleMouseDown(e, index) {
	    this._draggingIndex = index;
	    this._prevX = e.pageX || e.clientX;
	    this._prevY = e.pageY || e.clientY;
	    this._init

[2017-07-20 06:52] jasonslyvia commented on #87
Do you care make a PR upon this change? I will sure be interested to review it!

[2017-07-30 16:42] #72 closed

[2017-09-04 19:44] bunkscene opened #89 "Firefox + IE11 when scrolling is still broken"
Hi,

Firefox is still broken when scrolled down.  I noticed this change seems incorrect:[https://github.com/jasonslyvia/react-anything-sortable/commit/22335c6f80a2dca524da55a4649ec2c5778dab90](https://github.com/jasonslyvia/react-anything-sortable/commit/22335c6f80a2dca524da55a4649ec2c5778dab90)

If you change "docElement" to "documentElement", everything works great.

Thanks,
Dave

[2017-09-04 20:15] bunkscene commented on #89
Added pull request: [https://github.com/jasonslyvia/react-anything-sortable/pull/90](https://github.com/jasonslyvia/react-anything-sortable/pull/90)

[2017-09-05 06:14] jasonslyvia commented on #89
Great work! #90 is merged and `1.7.3` is released accordingly.

[2017-09-05 06:14] #89 closed

[2017-10-23 13:47] ai commented on #82
React 16 was released ;)

[2017-11-17 16:07] Rudgey84 opened #91 "Grid option"
Is there a way to have a grid option with this dnd library?

`<Sortable sensitivity={0} key={this.state.data.length} onSort={this.handleSort.bind(this)}>
        {items}
      </Sortable>`

[2017-11-18 03:01] jasonslyvia commented on #91
I'm sorry but no feature will be added at this time, I'd recommend you to check out [react-dnd](https://github.com/react-dnd/react-dnd).

[2017-11-18 03:01] #91 closed

[2018-01-12 07:04] harvinder-ss opened #92 "Not working on Mobile browser properly.."
Sort not working on mobile browser when you have a long page. It scroll the page as well as the item and does not seem to be working correctly.

[2018-01-12 07:07] jasonslyvia commented on #92
This is more of a feature than an issue, and sorry no new feature will be added at this moment.

[2018-01-12 07:07] #92 closed

[2018-01-12 07:09] harvinder-ss commented on #92
Actually I am looking for this:

https://github.com/jasonslyvia/react-anything-sortable/pull/32

But it does not work on actual devices

[2018-01-12 21:24] spalger commented on #82
Looks like this should have been closed by #83

[2018-01-14 07:03] #82 closed

[2018-01-25 05:34] shikelong opened #94 "Drag on Image or link will hold on the sortableItem"
user-drag: none not work.
![gif](https://user-images.githubusercontent.com/4499997/35372271-f0a3c80c-01d3-11e8-96ff-4a9f4d2bde76.gif)

How to fix it?

[2018-01-25 06:15] shikelong commented on #94
Sorry. Just set the prop - draggable of link/image  as false.

[2018-01-25 06:15] #94 closed, assigned to nobody